<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp(signUpForm.value)">
    <div class="content">
      <ion-icon name="arrow-back-outline" (click)="beforeAuth()"></ion-icon>
      <div class="before-auth-content">
        <p class="main-title">Poker</p>
        <p class="second-title">Last step and <br>Start playing!</p>
        <div class="form">
          <ion-input class='login-email' placeholder="Your name" formControlName="first_name" type="first_name"></ion-input>
          <ion-input class='login-password' placeholder="Your surname" formControlName="last_name" type="last_name"></ion-input>
          <ion-input class='login-email' placeholder="Your email" formControlName="email" type="email"></ion-input>
          <ion-input class='login-password' placeholder="Your password" formControlName="password" type="password"></ion-input>
          <ion-input class='login-email' placeholder="Confirm your password" formControlName="password_confirmation" type="password"></ion-input>
        </div>
        <div class="auth-buttons">
          <button type='submit' name="button" class='sign-in-btn'>Sign In</button>
        </div>
      </div>
      <p class="sign-up-redirect" (click)="signIn()">Do you have an account?<span>Login</span></p>
    </div>
  </form>
</ion-content>
