ion-content {
  --background: #fff;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15vh;

    img {
      width: 80%;
      margin: 0 auto;
      display: flex;
    }

    .before-auth-content {
      color: #FA563F;
      font-size: 7vw;
      font-weight: 700;
      padding: 0 10vw;

      .second-title {
        color: #000;
        font-weight: 400;
        margin-bottom: 15vh;
      }

      .auth-buttons {
        display: flex;
        justify-content: center;

        button {
          background: #fff;
          color: #FA563F;
          font-size: 2vh;
          padding: 1vw;
          border-style: solid;
          border-color: #FA563F;
          width: 40vw;
          font-weight: 600;
        }

        .sign-in-btn {
          border-width: 2.5px 0 2.5px 2.5px;
          border-radius: 4px 0 0 4px;
        }

        .sign-up-btn {
          border-width: 2.5px;
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
}
