<ion-content>
  <div class="content">
    <img src="../../assets/before-auth.svg" alt="">
    <div class="before-auth-content">
      <p class="main-title">Poker</p>
      <p class="second-title">Easy to learn <br>difficult to master</p>
      <div class="auth-buttons">
        <button type="button" name="button" class='sign-in-btn' (click)="signIn()">Sign In</button>
        <button type="button" name="button" class='sign-up-btn' (click)="signUp()">Register</button>
      </div>
    </div>
  </div>
</ion-content>
