<ion-content>
  <p>{{this.user}}</p>
  <input id='inviteCode'>
  <ion-button type="button" name="button" (click)="this.socketEmits.create()">Create</ion-button>
  <ion-button type="button" name="button" (click)="this.socketEmits.join()">Join</ion-button>
</ion-content>
