ion-content {
  --background: #fff;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 2vw;

    ion-icon {
      width: 7vw;
      height: 7vw;
      color: #FA563F;
    }

    .before-auth-content {
      color: #FA563F;
      font-size: 7vw;
      font-weight: 700;
      padding: 0 5vw;

      .form {
        margin: 4vh 0;
        font-size: 4vw;

        ion-input {
          margin: 4vh 0;
          border-bottom: 1vw #FA563F solid;
        }
      }

      .second-title {
        color: #000;
        font-weight: 400;
        margin-bottom: 4vh;
      }

      .auth-buttons {
        display: flex;
        justify-content: center;

        button {
          background: #FA563F;
          color: #fff;
          font-size: 2vh;
          padding: 3vw;
          width: 75vw;
          font-weight: 600;
          border-radius: 4px;
        }
      }
    }
    .sign-up-redirect {
      color: #666;
      font-size: 3.5vw;
      margin: 2vw auto;
      font-weight: 400;

      span {
        font-weight: 700;
      }
    }
  }
}
