<ion-content>
  <form [formGroup]="confirmEmail" (ngSubmit)="onVerificationCode(confirmEmail.value)">
    <div class="content">
      <div class="before-auth-content">
        <p class="main-title">Poker</p>
        <p class="second-title">Check your mail and <br>and enter verification code</p>
        <div class="form">
          <ion-input class='login-password' placeholder="Your verification code" formControlName="token" type="text"></ion-input>
        </div>
        <div class="auth-buttons">
          <button type='submit' name="button" class='sign-in-btn'>Confirm</button>
        </div>
      </div>
    </div>
  </form>
</ion-content>
