<ion-content>
  <form [formGroup]="signinForm" (ngSubmit)="onSignIn(signinForm.value)">
    <div class="content">
      <ion-icon name="arrow-back-outline" (click)="beforeAuth()"></ion-icon>
      <div class="before-auth-content">
        <p class="main-title">Poker</p>
        <p class="second-title">Hello there!<br>Welcome Back</p>
        <div class="form">
          <ion-input class='login-email' placeholder="Your email" formControlName="email" type="email"></ion-input>
          <ion-input class='login-password' placeholder="Your password" formControlName="password" type="password"></ion-input>
        </div>
        <div class="auth-buttons">
          <button type='submit' name="button" class='sign-in-btn'>Sign In</button>
        </div>
      </div>
      <p class="sign-up-redirect" (click)="signUp()">Don't have an account?<span>Register</span></p>
    </div>
  </form>
</ion-content>
