ion-content {
  --background: url('../../../assets/background.jpeg') no-repeat center center fixed;
}

.cards {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  img {
    width: 12vw;
  }
}

// .win-card {
//   border-radius: 2vw;
//   border: 3px #A52A2A solid;
//   transition: 1s;
//   transform: translate(0, -15%);
// }

.my-cards,
.oppent-cards {
  z-index: 1;
  left: 15%;
  bottom: 30%;
}

.first-card {
  transform: rotate(-10deg);
}

.second-card {
  z-index: 2;
  transform: translate(-55%, 0) rotate(10deg);
}

.table-cards {
  display: flex;
  top: 45%;

  img {
    width: 12vw;
    margin: 2vw;
  }
}

.chips {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: center;
}

.opponent-chips {
  top: 45%;
}

.bank-chips {
  top: 35%;
}

.my-bets {
  bottom: 40%;
}

.opponent-bets {
  top: 25%;
}

.my-info {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);

  .my-name {
    margin: 0;
    font-size: 4vw;
    text-align: center;
  }

  .my-chips {
    font-size: 5vw;
    text-align: center;
    margin: 0;
  }
}

.opponent-info {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);

  .opponent-name {
    margin: 0;
    font-size: 4vw;
    text-align: center;
  }

  .opponent-chips {
    font-size: 5vw;
    text-align: center;
    margin: 0;
  }

  .opponet-avatar {
    width: 30vw;
  }
}

.raise-range {
  height: 30vh;
  position: absolute;
  right: 0;
  bottom: 15vh;
  background: rgba(255, 165, 0, 0.7);
  padding: 3vw 7vw 3vw 1vw;;
  border-radius: 5vw 0 0 5vw;
  transition: .5s;
}

.hide-range-bar {
  right: -30vw;
}

.show-range-bar {
  right: 0;
}

.disable {
  pointer-events: none;
  opacity: .5;
}

.enabled {
  pointer-events: auto;
  opacity: 1;
}

.control-btns {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 67vw;
  display: flex;
  justify-content: space-around;

  button {
    margin: 0 1vw;
    width: 18vw;
    height: 18vw;
    border-radius: 18vw;

    ion-icon {
      width: 5vw;
      height: 5vw;
    }

    p {
      margin: 0;
      font-size: 4vw;
    }
  }

  .fold {
    background: #DC143C;
  }

  .call {
    background: #32CD32;
  }

  .raise {
    background: #FF8C00;
  }
}
