<ion-content>
  <div class="opponent-info">
    <div class="oppent-cards cards" *ngIf='!this.opponentCards.length'>
      <img class='first-card' src="../../assets/poker-cards/green_back.png" alt="card">
      <img class='second-card' src="../../assets/poker-cards/green_back.png" alt="card">
    </div>
    <div class="oppent-cards cards" *ngIf='this.opponentCards.length'>
      <img class='first-card' [ngClass]="this.opponentCards[0]" src="../../assets/poker-cards/{{this.opponentCards[0]}}.png" alt="card">
      <img class='second-card' [ngClass]="this.opponentCards[1]" src="../../assets/poker-cards/{{this.opponentCards[1]}}.png" alt="card">
    </div>
    <img class="opponet-avatar" src="assets/icon/avatar.png" alt="opponet avatar">
    <p class='opponent-chips'>{{opponentChips}}</p>
    <p class="opponent-name">{{this.user}}</p>
  </div>
  <p class='opponent-bets chips' *ngIf="opponentBet > 0">{{opponentBet}}</p>
  <p class='bank-chips chips' *ngIf="betsBank > 0">{{betsBank}}</p>
  <div *ngIf="this.tableCards.length">
    <div class="table-cards chips">
      <img *ngFor="let card of this.tableCards" ngClass="card" src="../../assets/poker-cards/{{card}}.png">
    </div>
  </div>
  <p class='my-bets chips' *ngIf="myBet > 0">{{myBet}}</p>
  <div [ngClass]="this.turn ? 'raise-range show-range-bar' : 'raise-range hide-range-bar'">
    <ngx-slider [(value)]="verticalSlider.value" [options]="verticalSlider.options"></ngx-slider>
  </div>
  <div class="my-info">
    <div class="my-cards cards" *ngIf='this.myCards.length'>
      <img [ngClass]="this.myCards[0]" class='first-card' src="../../assets/poker-cards/{{this.myCards[0]}}.png" alt="card">
      <img [ngClass]="this.myCards[1]" class='second-card' src="../../assets/poker-cards/{{this.myCards[1]}}.png" alt="card">
    </div>
    <div class="my-cards cards" *ngIf='!this.myCards.length'>
      <img class='first-card' src="../../assets/poker-cards/green_back.png" alt="card">
      <img class='second-card' src="../../assets/poker-cards/green_back.png" alt="card">
    </div>
    <circle-progress
      id="turnTime"
      [percent]="turnTime()"
      [radius]="65"
      [space]="-5"
      [outerStrokeWidth]="5"
      [outerStrokeColor]="checkColor()"
      [innerStrokeColor]="'transparent'"
      [innerStrokeWidth]="5"
      [imageHeight]="105"
      [imageWidth]="105"
      [showImage]="true"
      [startFromZero]="false"
      [showBackground]="false"
    ></circle-progress>
    <p class="my-name">{{this.user}}</p>
    <p class="my-chips">{{myChips}}</p>
  </div>
  <div [ngClass]="this.turn ? 'control-btns enabled' : 'control-btns disable'">
    <button ion-button icon-only class="fold" (click)="this.socketEmits.fold()">
      <ion-icon name="chevron-down-outline"></ion-icon>
      <p>FOLD</p>
    </button>
    <button ion-button icon-only class="call" (click)="this.socketEmits.check()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <p>{{opponentBet > myBet ? opponentBet : 'CHECK'}}</p>
    </button>
    <button ion-button icon-only class="raise" (click)="this.socketEmits.raise(verticalSlider.value)">
      <ion-icon name="chevron-up-outline"></ion-icon>
      <p>{{this.myChips == verticalSlider.value ? 'All-IN' : verticalSlider.value}}</p>
    </button>
  </div>
</ion-content>
